@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@100;300;400;700&display=swap');

.main {
    padding-left: 80px;
    padding-right: 80px;
}

.chartPage {
    background-color: #f6f6f6;
    /*height: 80vh;*/
}

.myChart {
    padding: 20px;
}

.product {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    /*height: 100px;*/
}

.productImg {
    /*margin-left: 50px;*/
    width: 100px;
    border: #cccccc solid 1px;
    border-radius: 20px;
}

.checkbox {
    scale: 1.7;
}

.productName {
    /*margin-left: 10px;*/
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    /*margin-left: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.trashIcon {
    margin-left: 10px;
}

.counter {
    user-select: none;
    margin-left: 10px;
    display: inline;
    border: #cccccc solid 1px;
    border-radius: 20px;
}

.counterBtn {
    margin: 3px;
}

.acceptChart {
    padding: 20px;
}

.orderSummary {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 10px;
    background-color: white;
}

.orderInfo {
    margin-bottom: 20px;
    background-color: #eae9e9;
    border-radius: 20px;
}

@media(max-width:768px) {
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .orderSummary > label {
        font-size: 10px;
    }

    .orderSummary > h4 {
        font-size: 15px;
    }

    .acceptChart {
        padding: 15px;
    }
}

@media(min-width:768px) {
}

@media(min-width:992px) {
}

@media(min-width:1200px) {
}
