<!DOCTYPE html>

<head>
  <title>Marun E-commerce</title>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="Lzg8xUSxO_Tvqnr26CCyv9FV29tXwhBxyukXVU_Nmv8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link href="~/css/katalog.css" rel="stylesheet" />

</head>

<style>


</style>

<body>

  <section>
    <div class="main mt-5">
      <!-- Main wrapper -->
      <div class="row p-2" style="background-color: #ececec">
        <!-- Categories -->

        <div class="filter col-md-2 col-3 p-2 rounded ">
          <h4 class="text-center">Filtrele</h4>

        </div>
        <!-- Products -->
        <div class="col-md-10 col-9 p-2 row">
          <div class="col-12">
            <button class="btn"><h5>Sırala</h5></button>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
              <img
                src="https://cdn.dsmcdn.com/ty900/product/media/images/20230523/11/356258861/854329742/2/2_org_zoom.png"
                alt="" class="img-fluid px-4">
              <div class="aciklama">
                <h6 class="text-center">Monster</h6>
                <div class="wrapper px-2">
                  <p class="demo-1">Abra A5 V19.4.4 Intel Core I5 12500h 32gb Ram 1tb Ssd 4gb Rtx 3050 Freedos 15,6 Inç
                    Fhd 144 Hz ABRA
                    A5 V19.4.4</p>
                </div>
                <div class="card-bottom d-flex flex-row">
                  <div class="d-flex flex-column">
                    <!--                    <p>1232 favori</p>-->
                    <p class="price text-success">19.099 TL</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
              <img
                src="https://cdn.dsmcdn.com/ty900/product/media/images/20230523/11/356258861/854329742/2/2_org_zoom.png"
                alt="" class="img-fluid px-4">
              <div class="aciklama">
                <h6 class="text-center">Monster</h6>
                <div class="wrapper px-2">
                  <p class="demo-1">Abra A5 V19.4.4 Intel Core I5 12500h 32gb Ram 1tb Ssd 4gb Rtx 3050 Freedos 15,6 Inç
                    Fhd 144 Hz ABRA
                    A5 V19.4.4</p>
                </div>
                <div class="card-bottom d-flex flex-row">
                  <div class="d-flex flex-column">
                    <!--                    <p>1232 favori</p>-->
                    <p class="price text-success">19.099 TL</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
              <img
                src="https://cdn.dsmcdn.com/ty900/product/media/images/20230523/11/356258861/854329742/2/2_org_zoom.png"
                alt="" class="img-fluid px-4">
              <div class="aciklama">
                <h6 class="text-center">Monster</h6>
                <div class="wrapper px-2">
                  <p class="demo-1">Abra A5 V19.4.4 Intel Core I5 12500h 32gb Ram 1tb Ssd 4gb Rtx 3050 Freedos 15,6 Inç
                    Fhd 144 Hz ABRA
                    A5 V19.4.4</p>
                </div>
                <div class="card-bottom d-flex flex-row">
                  <div class="d-flex flex-column">
                    <!--                    <p>1232 favori</p>-->
                    <p class="price text-success">19.099 TL</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
              <img
                src="https://cdn.dsmcdn.com/ty900/product/media/images/20230523/11/356258861/854329742/2/2_org_zoom.png"
                alt="" class="img-fluid px-4">
              <div class="aciklama">
                <h6 class="text-center">Monster</h6>
                <div class="wrapper px-2">
                  <p class="demo-1">Abra A5 V19.4.4 Intel Core I5 12500h 32gb Ram 1tb Ssd 4gb Rtx 3050 Freedos 15,6 Inç
                    Fhd 144 Hz ABRA
                    A5 V19.4.4</p>
                </div>
                <div class="card-bottom d-flex flex-row">
                  <div class="d-flex flex-column">
                    <!--                    <p>1232 favori</p>-->
                    <p class="price text-success">19.099 TL</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
              <img
                src="https://cdn.dsmcdn.com/ty900/product/media/images/20230523/11/356258861/854329742/2/2_org_zoom.png"
                alt="" class="img-fluid px-4">
              <div class="aciklama">
                <h6 class="text-center">Monster</h6>
                <div class="wrapper px-2">
                  <p class="demo-1">Abra A5 V19.4.4 Intel Core I5 12500h 32gb Ram 1tb Ssd 4gb Rtx 3050 Freedos 15,6 Inç
                    Fhd 144 Hz ABRA
                    A5 V19.4.4</p>
                </div>
                <div class="card-bottom d-flex flex-row">
                  <div class="d-flex flex-column">
                    <!--                    <p>1232 favori</p>-->
                    <p class="price text-success">19.099 TL</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</body>

</html>
